footer {
  background-color: #191919;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.footer__link {
  font-size: 14px;
  text-decoration: none;
  color: #ababab;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease;
}

.footer__link:hover {
  border-bottom: 1px solid var(--color-text);
}

footer .left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.footer__item {
  width: 40px;
  height: 25px;
}

@media (max-width: 460px) {
  footer {
    background: transparent;
  }

  .footer__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 0;
  }

  footer .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
